/* .form-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.input-reset {
  border-radius: 5px;
  border: 2px solid lightgrey;
}
.div-form-reset {
  width: 750px;
  height: 200px;
  margin: auto;
  background: linear-gradient(#e66465, #9198e5);
  margin-top: 20%;
  border: 1 solid lightblue;
  border-radius: 15px;
} */
/*----------------------------------------------------------------*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(24%2c 106%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c395.35C81.686%2c400.331%2c169.527%2c415.114%2c239.465%2c372.615C309.861%2c329.838%2c332.249%2c242.085%2c371.448%2c169.635C413.742%2c91.463%2c501.973%2c16.896%2c478.271%2c-68.765C453.95%2c-156.664%2c326.712%2c-162.794%2c261.756%2c-226.813C204.335%2c-283.406%2c193.578%2c-379.934%2c123.003%2c-418.909C47.261%2c-460.738%2c-51.416%2c-479.129%2c-130.148%2c-443.242C-207.869%2c-407.816%2c-215.693%2c-299.809%2c-274.401%2c-237.769C-337.204%2c-171.401%2c-463.654%2c-158.688%2c-483.763%2c-69.555C-503.559%2c18.191%2c-413.868%2c91.038%2c-365.725%2c167.021C-324.069%2c232.765%2c-287.426%2c303.298%2c-221.406%2c344.515C-155.846%2c385.445%2c-77.145%2c390.646%2c0%2c395.35' fill='%2313552f'%3e%3c/path%3e%3cpath d='M1440 1014.8820000000001C1525.541 1013.719 1602.544 971.1410000000001 1675.223 926.014 1748.882 880.278 1817.555 827.1469999999999 1862.128 752.779 1910.1979999999999 672.577 1948.295 581.35 1937.466 488.475 1926.5230000000001 394.62 1871.003 311.06100000000004 1802.978 245.478 1738.487 183.30200000000002 1648.0819999999999 166.627 1566.124 130.462 1470.008 88.05000000000001 1379.958-17.28200000000004 1279.871 14.652000000000044 1179.272 46.75 1160.796 182.017 1111.638 275.473 1073.451 348.07 1035.821 419.017 1024.443 500.252 1013.097 581.258 1015.7470000000001 663.904 1046.624 739.649 1078.317 817.395 1131.84 884.3340000000001 1200.632 932.4649999999999 1271.204 981.842 1353.877 1016.053 1440 1014.8820000000001' fill='%231d7f47'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  background: green;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}
/* Set a style for the submit button */
.btn {
  /* background-color: dodgerblue; */
  background-color: grey;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}
.fa-passwd-reset > .fa-lock {
  font-size: 0.85rem;
}

.planteraImg {
  margin-top: 10%;
}
