.grid {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  grid-auto-rows: 190px;
}
.label-file {
  cursor: pointer;
  color: gray;
  font-weight: bold;
  width: 100%;
  position: absolute;
}
.glyphicon {
  width: 10%;
  height: 10%;
}
.rendu-image-product {
  border-radius: 10px;
}
.label-file:hover {
  transition: 0.25s;
  color: black;
  width: 100%;
}
.plus:hover {
  transition: 0.25s;
  box-shadow: 5px 5px 30px lightslategray;
  background-color: lightgray;
}
.fa-file-export::before {
  width: 150px;
  height: 150px;
  font-size: 50px;
  text-align: center;
}
.input-file {
  display: none;
}
.plus {
  width: 175px;
  height: 175px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  justify-content: center;
  box-shadow: 1px 1px 10px lightslategray;
  border-radius: 10px;
}
.button-plus {
  width: 100%;
  height: 100%;
  background-color: none;
  border: none;
  font-size: xx-large;
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 0;
}

.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}
