body {
  background-color: #34623f !important;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  z-index: 7;
  color: white;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    #34623f 50%,
    rgb(255, 255, 255) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.1;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/* 
.table-responsive {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: solid lightgrey 1px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 5px;
  z-index: 1;
} */

/* body > div.container > div.container > div > div.alert.alert-success {
  margin-bottom: 3% !important;
  top: 35% !important;
  opacity: 1 !important;
  transform: translate(27%, 204%) scale(1) !important;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms !important;
  z-index: 7 !important;

  transform: translate(33%, 28rem) scale(1.25) !important;
  width: 380px !important;
  padding: 20px 30px !important;

  box-shadow: 2px 2px 5px 5px rgb(0 0 0 / 15%) !important;
  border-radius: 10px !important;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms !important;
} */
