/* === Google Font ===*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KOHO", sans-serif;
}

/* === Variables of colors Define ===*/
:root {
  --white-color: #fff;
  --black-color: #3c4a57;
}

/* === Body CSS ===*/
body {
  /* position: relative;
  display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* === Main Content CSS ===*/
.wrapper {
  padding: 100px 25px 0;
  max-width: 668px;
  width: 100%;
  margin: auto;
}
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../stock/ress/login.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: -1;
}
.wrapper .headline {
  text-align: center;
  padding-bottom: 48px;
}
.wrapper .headline h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
}
.wrapper .form {
  max-width: 350px;
  width: 100%;
  margin: auto;
}
.wrapper .form-group {
  margin-bottom: 15px;
}
.wrapper .form-group input {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  padding: 11px 15px;
  height: 48px;
  /* border-radius: 5px; */
  color: var(--black-color);
  border: none;
  box-shadow: none;
  width: 100%;
  cursor: text;
}
.wrapper .form-group input:focus {
  outline: none;
}

.wrapper .form-group input::placeholder {
  color: var(--black-color);
  font-weight: 400;
  font-size: 14px;
}
.wrapper .btn {
  width: 100%;
  margin: 15px 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 29px;
  height: 48px;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: #34623f;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}
.wrapper .btn:focus {
  outline: none;
}
.wrapper .account-exist {
  color: var(--black-color);
  border-top: 1px solid var(--light-gray);
  padding-top: 20px;
  text-align: center;
}
.wrapper .account-exist a {
  color: #99621e;
}
.wrapper .forget-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.wrapper .forget-password a {
  color: #99621e;
}
.wrapper .forget-password .check-box {
  font-size: 15px;
  color: var(--black-color);
}
.signup.inActive {
  display: none;
}
.signin {
  display: none;
}
.signin.active {
  display: block;
}

/* === Responsive ===*/
@media (max-width: 1030px) {
  .wrapper::before {
    left: -25%;
    min-height: 60vh;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 550px;
  }
  .wrapper {
    padding: 50px 25px 0;

    width: 100%;
    margin: auto;
  }
  .wrapper .headline h1 {
    font-size: 22px;
    line-height: 25px;
  }
}

#passwordForm {
  display: flex;
}

#help {
  display: flex;
}
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 9%;
  padding: 1%;

  /* border: 1px solid #e4e8ee; */
  /* border-radius: 5px; */
}
[data-hover] {
  position: relative;
}
[data-hover]#question:after {
  background: #212121;
}
[data-hover]:after {
  box-sizing: border-box;
  position: absolute;
  color: white;
  max-width: 150px;
  min-width: 100px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 15px;
  content: attr(data-hover);
  transition: 0.3s ease-out;
  opacity: 0;
  text-align: center;
  border-radius: 3px;
  z-index: 9999;
  pointer-events: none;
  margin-left: 10%;
}

[data-hover]:hover:after {
  opacity: 1;
}

[data-hover]#question:after {
  top: 50%;
  right: 50%;
  transform: translate(0%, -50%);
}

[data-hover]#question:hover:after {
  right: calc(100% + 10px);
  transform: translate(0%, -50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  background: #f5f5f5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}
.popup .form .form-element {
  margin: 15px 0px;
}
.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"] {
  margin-right: 5px;
}
.popup .form .form-element button {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #222;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}

.fixed-button {
  /* background-color: #ff2434;
  color: #ffffff; */
  border: none;
  outline: none;
  position: fixed;
  left: 15px;
  height: 60px;
  width: 59px;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 1px 3px 5px #000000;
}
.fa-house {
  font-size: 50px;
  color: rgba(75, 59, 59, 0.575);
}
