body {
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 20%);
  font-weight: 300;
  overflow: auto;
  cursor: url("https://assets.codepen.io/605876/default-cursor.png?width=20&height=30"),
    pointer !important;
}

main {
  height: 100%;

  padding: 3rem 0;
}

#article {
  width: 600px;
  max-width: calc(100% - (140px + 0.5rem));
  padding: 0 1rem 0;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

#span {
  display: block;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 1rem;
  opacity: 0.65;
}

h1 {
  line-height: 1;
  font-size: 3rem;
}

footer {
  height: 20vh;
  text-align: right;
  position: relative;
}

h1 {
  font-size: 2rem;
  font-size: 3rem;
}

.strong {
  font-weight: bold;
}

.agree {
  right: 0;
  position: absolute;
  padding: 16px 32px;
  background: hsl(90, 60%, 50%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  transition: background 0.15s ease;
  border: 0;
}

.agree:hover {
  background-color: hsl(90, 60%, 40%);
}
