
.avant-page{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4,325px);
  gap: 5px;
justify-content: center
}

.card-description {
	display: block;
	color: #515151;
	text-decoration: none;
}
.card-description:hover > img{
  background-color: rgba(0, 0, 0,0.4);
  z-index: 1;
}

.card-description > h2 {
	margin: 0 0 0.5em;
  
}

.card-description > p {
	margin: 0;
  text-align: center;
}

.img-product{
  margin: auto;
  width : 250px;
  height : 250px; 
  display: block;
}
.product-card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	font-size: 1rem;
  margin: 5%;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  background-color: white;
  border: lightgray solid 1px;
}
.input-product {
  border: 1px lightgray solid;
  border-radius: 5px;
  width: 350px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.product-card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.titre{
	text-align: center;
	color: #191937;
    font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
	
}

.card-description {
	text-decoration: none !important;
}

.description{
	/* padding: 0 30px 35px 15px; */
}

.king {
	font-family: "Kings";
    color: #ffffff;
    background-color: #34623f;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 33px;
    width: 100%;
    padding-top: 10px;
    -webkit-text-stroke: thin;
    height: 55px;
  }

  .prix{
	text-align: center;
	/* border-top: darkgray 1px solid;
    border-bottom: darkgray 1px solid; */
    color: #191937;
   
	font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
  }


  