main {
  position: relative;
  /* margin-bottom: 8%; */
}

header {
  box-shadow: 5px 5px 20px;
  margin-bottom: 1em;
  background-color: black;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/d2/2f/b7/d22fb75….gif);
  background-position: center;
  padding: 18px 150px;
  background-size: cover;
  display: block;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-image {
  /* position: sticky; */
  top: 0;
  height: 240px;
  overflow: hidden;
  filter: blur(calc(var(--scrollY) * 10px));
  transform: translate(0, calc(var(--scrollY) * -30px));
}

.containerAcctualite {
  position: relative;
  top: 20vh;
  padding: 50px 1em;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .containerAcctualite {
    top: 5vh;
  }
}

article {
  max-width: 700px;
  margin: 0 auto;
  z-index: 100;
}
article h1 {
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 3.5rem;
  color: #202020;
  margin-bottom: 0.25em;
  text-align: center;
}
article .metadata {
  margin-bottom: 1em;
}
article span {
  font-family: Merriweather;
  font-size: 1em;
  font-weight: 400;
  display: block;
  color: #828385;
  text-align: center;
  margin-bottom: 0.25em;
}
article p {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 1.15em;
  line-height: 1.4;
  color: #363636;
  margin-bottom: 1.1635em;
  letter-spacing: -0.004em;
  padding: 0.5em;
}

@media only screen and (min-width: 768px) {
  article p {
    font-size: 1.3em;
  }
}

.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #e0e0e0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: "";
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #e0e0e0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

@media (max-width: 767px) {
  main {
    margin-bottom: 33%;
    margin-top: -45%;
  }
}

#disqus_thread {
  position: relative;
}
#disqus_thread:after {
  content: "";
  display: block;
  height: 36px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}
